@font-face {
    font-family: 'Amatic SC';
    src: local('Amatic SC Bold'), local('Amatic-SC-Bold'),
        url('AmaticSC-Bold.woff2') format('woff2'),
        url('AmaticSC-Bold.woff') format('woff'),
        url('AmaticSC-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }